.col-md-6
  = form_for @item, url: url do |f|
    - if @item.errors.any?
      .form-group
        %ul
          - @item.errors.messages.each do |key,msg|
            %li= msg.join(',')
    .form-group
      = f.label "名称"
      = f.text_field :shop_name, class: 'form-control'

    .form-group
      = f.label "联系电话"
      = f.text_field :phone_number, class: 'form-control'

    .form-group
      = f.label "起订金额"
      = f.text_field :min_amount, class: 'form-control'

    .form-group
      = f.label "配送说明"
      = f.text_area :description, class: 'form-control'

    .form-group
      = f.label "是否启用"
      = f.select :active, options_for_select({'是' => true, '否' => false}, @item.active), {}, class: 'form-control'
 
    = f.text_field :mobile_image, style: 'display: none'
    = render partial: 'upload_image', locals: {item: @item, image_name: 'mobile_image', image_size: '手机图片(200x200)', button_name: 'mobile-image', input_name: 'shop_mobile_image', upload_url: file_upload_admin_shops_path(type: 'mobile')}

    = f.submit '保存', class: 'btn btn-success'



